<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于疫情【科普】</title>
    <link rel="icon" href="../static/source/video.ico" type="image/x-icon">
    <style type="text/css">
        body{
            background:#000000;
        }
    </style>

</head>
<body>
    <video width="1500" height="740" controls autoplay>
        <source src="../static/source/回形针.mp4" type="video/mp4">
        <source src="gs.ogg" type="video/ogg">
        <source src="gs.webm" type="video/webm">
        <object data="gs.mp4" width="320" height="240">
          <embed src="gs.swf" width="320" height="240"><p>如果你播放不了该视频，
那是你的设备不支持该文件格式</p>
        </object>

    </video>
</body>
</html>